@charset "utf-8";
.news_search {padding: 10px 10px;}
.news_search .layui-inline{margin: 5px 5px 5px 0;}
.layui-table {table-layout: fixed;}
.layui-table,.layui-table th {text-align: center;}
.news_list .layui-btn,.news_list .layui-btn+.layui-btn {margin: 2px 5px;}
.news_list .layui-form-switch{margin-top: 0;}

td {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
body {word-break: break-all;}

/*分页*/
#page {text-align: right;}